include RELEASE-VERSION
include COPYING
include version.py
include setup.py
include paver-minilib.zip
recursive-include microdrop_launcher *
recursive-exclude microdrop_launcher *.pyc
recursive-exclude microdrop_launcher *~
